{{#> main h1=title}}

	<section class="c-page-content-inner">
		<p>Test this page using Browserstack. This is the browser support playground. The contents of the Sass file that implements this browser support mechanism is:</p>
	</section>
	{{#if code}}
		<div class="code">{{{code}}}</div>
	{{/if}}

{{/main}}
