/**
 * Core
 */

@import '@springernature/brand-context/springernature/scss/core';

// :not - Chrome 88, Firefox 84, Edge 88, Safari 9
// aspect-ratio - Chrome 88, Firefox 89, Edge 88, Safari 15
// margin-block-start - Chrome 69, Firefox 41, Edge 79, Safari 12.1
// gap - Chrome 57, Firefox 52, Edge 16, Safari 10.1
// display: grid - Chrome 55, Firefox 52, Edge 16, Safari 10.1
// CSS variables - Chrome 49, Firefox 31, Edge 16, Safari 10
// object fit - Chrome 32, Firefox 36, Edge 79, Safari 10
// display: flex - Chrome 21, Firefox 28, Edge 12, Safari 9
@supports
(selector(:not(.foo))) and
(aspect-ratio: 1 / 1) and
(margin-block-start: 1rem) and
(gap: 1rem) and
(display: grid) and
(--css: variables) and
(object-fit: cover) and
(display: flex) {

	/**
	 * Enhanced
	 */

	:root {
		--ctm: true;
	}

	@import '@springernature/brand-context/springernature/scss/enhanced';

	// 10-Settings
	@import '@springernature/global-status-message/scss/10-settings/default';
	@import '@springernature/global-skip-link/scss/10-settings/springernature';
	@import '@springernature/global-corporate-footer/scss/10-settings/default';

	// 40-Base
	@import '40-base/fonts';

	// 50-Components
	@import '@springernature/global-status-message/scss/50-components/status-message';
	@import '@springernature/global-skip-link/scss/50-components/skip-link';
	@import '@springernature/global-corporate-footer/scss/50-components/corporate-footer';
	@import '50-components/header';
	@import '50-components/error-card';
	@import '50-components/section-heading';
	@import '50-components/status-message';
	@import '50-components/page';
	@import '50-components/home-illustration';

	// 60-Utilities
	@import '@springernature/brand-context/default/scss/60-utilities/spacing';
	@import '@springernature/brand-context/default/scss/60-utilities/hiding';
	@import '@springernature/brand-context/default/scss/60-utilities/icons';
	@import '@springernature/brand-context/default/scss/60-utilities/typography';
	@import '@springernature/brand-context/default/scss/60-utilities/buttons';
	@import '@springernature/brand-context/springernature/scss/60-utilities/link-text';

	.code {
		font-family: "Courier New";
		padding: 48px;
		background: #eee;
		color: #000;
		border-radius: 12px;
		font-size: .75rem;
		line-height: 1.4;
		white-space: pre-line;
	}
}

